@media screen and (min-width: 480px) {

	/**************************
	CONTACT: TWO COLUMN LAYOUT
	***************************/
	#primaryContact {
		width: 50%;
		float: left;
	}

	#secondaryContact {
		width: 40%;
		float: right;
	}



/*****************
	3 * 5 = 15
	100 - 15 = 85
	85/3 = 28.333333333
	****************/



/*****************
PAGE: PORTFOLIO
****************/

#gallery li {
	width: 28.3333%;
}

#gallery li:nth-child(4n) {
	clear: left;
}


/*****************
PAGE: ABOUT
****************/


.profile-photo {
	float: left;
	margin: 0 5% 80px 0;
}

}


@media screen and (min-width: 660px) {


/*****************
HEADER
****************/

nav {
	background: none;
	float: right;
	font-size: 1.125em;
	margin-right: 5%;
	text-align: right;
	width: 45%;

}

nav ul li {
	font-size: 1.2em;
	font-weight: bolder;
}

nav a, nav a:visited {
	color: black;
}

/*selected nav link*/
nav a.selected {
	color: #4D4D4D;
} 

nav a:hover {
	color: white;
}

#logo {
	float: left;
	margin-left:5%;
	text-align: left;
	width: 45%;
}

h1 {
	font-size: 2.8em;
}

h2 {
	font-size: 1.7em;
	margin-bottom: 5px;
}

header {
	background-image: url('../img/vintage3.jpg');
	border-bottom: 5px solid #000;
	margin-bottom: 60px;
}

h1, h2 {
	color: #000;
	opacity: .9;
}

a {
	color: #000;
	font-weight: bolder;
}

.contact-info li.phone a:hover {
	color: darkgrey;
}
.contact-info li.mail a:hover {
	color: darkgrey;
}


#gallery li {
	background-image: url('../img/vintage2.jpg');
	text-align: right;
	opacity: .8;
}

#gallery li a p {
	color: #000;
}

#gallery li:hover {
	opacity: 1;
}


#about {
	padding: 10em 2.5em;
	margin-right: 5em;
	margin-left: 5em;
	margin-top: 5em;
	background-image: url('../img/vintage5.jpg');
	color: #000;
	}

.profile-photo {
	margin-right: 15em;
	opacity: .7;
}

.profile-photo:hover {
	opacity: 1;
}

#contact {
	padding-top: 20em;
	padding-left:  2.5em;
	padding-right:  2.5em;
	margin-right: 5em;
	margin-left: 5em;
	margin-top: 1em;
	background-image: url('../img/vintage3.jpg');
	color: #000;
	margin-bottom: 2em;
}


footer {
	background-image: url('../img/vintage2.jpg');
}

.social-icon {
	width: 30px;
	height: 30px;
	margin: 0 5px;
	opacity: 0.7;
}

.social-icon:hover {
	opacity: 1;
}






}